<table class="table table-sm table-hover" style>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th class="text-sm-center">Species</th>
      <th class="text-sm-center">Viability</th>
      <th class="text-sm-center">Manna</th>
      <th class="text-sm-center">Initiative</th>
      <th class="text-sm-center">Strength</th>
      <th class="text-sm-center">Dexterity</th>
      <th class="text-sm-center">Intelligence</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beast of beastBlueprints; let i = index" (click)="selectBeastBlueprint(i)" style="cursor: pointer">
      <td></td>
      <td>{{beast.name}}</td>
      <td class="text-sm-center">{{beast.species}}</td>
      <td class="text-sm-center">{{beast.viability}}</td>
      <td class="text-sm-center">{{beast.manna}}</td>
      <td class="text-sm-center">{{beast.initiative}}</td>
      <td class="text-sm-center">{{getAbility('STRENGTH', beast.abilityMap).abilityValue}}</td>
      <td class="text-sm-center">{{getAbility('DEXTERITY', beast.abilityMap).abilityValue}}</td>
      <td class="text-sm-center">{{getAbility('INTELLIGENCE', beast.abilityMap).abilityValue}}</td>
    </tr>
  </tbody>
</table>


