<form class="mx-3 my-4" [formGroup]="swordMoveForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" id="name">
    </div>
    <div class="col">
      <label for="initiative">Initiative</label>
      <input type="text" class="form-control" formControlName="initiative" id="initiative">
    </div>
    <div class="col">
      <label for="actions">Actions</label>
      <input type="text" class="form-control" formControlName="actions" id="actions">
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" formControlName="description" id="description"></textarea>
  </div>
  <div class="form-check mb-3">
    <label class="form-check-label" for="humanoid-opponent">
      <input type="checkbox" class="form-check-input lg" formControlName="humanoidOpponent" id="humanoid-opponent">Humanoid opponent
    </label>
  </div>

  <div class="form-row mb-3">
    <label for="user-weapon" class="col-2">User weapon</label>
    <div id="user-weapon" class="col-10 d-flex flex-wrap">
      <div class="m-1 btn-group-toggle" data-toggle="buttons" *ngFor ="let weaponType of weaponTypes" formGroupName="userWeapon">
        <label class="btn btn-outline-success" [ngClass]="userWeaponTypes.get(weaponType).value ? 'active' : ''">
          <input type="checkbox" [formControlName]="weaponType" autocomplete="off" [value]="userWeaponTypes.get(weaponType).value"> {{weaponType}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-row mb-3">
    <label for="opponent-weapon" class="col-2">Opponent weapon</label>
    <div id="opponent-weapon" class="col-10 d-flex flex-wrap">
      <div class="btn-group-toggle m-1 " data-toggle="buttons" *ngFor ="let weaponType of weaponTypes" formGroupName="opponentWeapon">
        <label class="btn btn-outline-success" [ngClass]="opponentWeaponTypes.get(weaponType).value ? 'active' : ''">
          <input type="checkbox" [formControlName]="weaponType" autocomplete="off" [value]="opponentWeaponTypes.get(weaponType).value"> {{weaponType}}
        </label>
      </div>
    </div>
  </div>

  <app-form-controls [editMode]="editMode" (update)="update()" (restore)="restore()" (delete)="delete()" (cancel)="clearForm()"></app-form-controls>
</form>
