<table class="table table-sm table-hover" style>
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Strength</th>
    <th>Dexterity</th>
    <th>Resistance</th>
    <th>Intelligence</th>
    <th>Charisma</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let race of raceList; let i = index" (click)="selectRace(i)" style="cursor: pointer">
    <td></td>
    <td>{{race.name}}</td>
    <td>{{race.strengthBase}}</td>
    <td>{{race.dexterityBase}}</td>
    <td>{{race.resistanceBase}}</td>
    <td>{{race.intelligenceBase}}</td>
    <td>{{race.charismaBase}}</td>
  </tr>
  </tbody>
</table>


