<div [formGroup]="parentForm">
  <div formGroupName="abilityMap">
    <div class="form-row">
      <div class="col">
        <label for="strength">Strength</label>
      </div>
      <div class="col">
        <div class="form-group d-flex">
          <input type="text" class="form-control ml-2" formControlName="strength" id="strength" >
          <input type="text" class="form-control" [value]="strengthBonus" disabled>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="dexterity">Dexterity</label>
      </div>
      <div class="col">
        <div class="form-group d-flex">
          <input type="text" class="form-control ml-2" formControlName="dexterity" id="dexterity">
          <input type="text" class="form-control" [value]="dexterityBonus" disabled>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="resistance">Resistance</label>
      </div>
      <div class="col">
        <div class="form-group d-flex">
          <input type="text" class="form-control ml-2" formControlName="resistance" id="resistance">
          <input type="text" class="form-control" [value]="resistanceBonus" disabled>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="intelligence">Intelligence</label>
      </div>
      <div class="col">
        <div class="form-group d-flex">
          <input type="text" class="form-control ml-2" formControlName="intelligence" id="intelligence">
          <input type="text" class="form-control" [value]="intelligenceBonus" disabled>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="charisma">Charisma</label>
      </div>
      <div class="col">
        <div class="form-group d-flex">
          <input type="text" class="form-control ml-2" formControlName="charisma" id="charisma">
          <input type="text" class="form-control" [value]="charismaBonus" disabled>
        </div>
      </div>
    </div>
  </div>
</div>
