<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/generator">Generator</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/calculator">Calculator</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/battleground">Battleground</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/inputs">Inputs</a>
      </li>
    </ul>
  </div>
</nav>

