<div class="form-row">
  <div class="form-group col" [formGroup]="parentForm">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" id="name">
  </div>
  <div class="form-group col-2" [formGroup]="parentForm">
    <label for="weight">Weight</label>
    <input type="text" class="form-control" formControlName="weight" id="weight">
  </div>
</div>
<div class="form-row">
  <div class="form-group col" [formGroup]="parentForm">
    <label for="public-description">Public description</label>
    <textarea class="form-control" formControlName="publicDescription" id="public-description"></textarea>
  </div>
  <div class="form-group col" [formGroup]="parentForm">
    <label for="private-description">Private description</label>
    <textarea class="form-control" formControlName="privateDescription" id="private-description"></textarea>
  </div>
</div>


