<form class="my-4 mx-3" [formGroup]="beastBlueprintForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" formControlName="name" id="name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" formControlName="description" id="description"></textarea>
  </div>
  <div class="form-group">
    <label for="origin">Origin</label>
    <input type="text" class="form-control" formControlName="origin" id="origin">
  </div>
  <div class="form-group mb-3">
    <label for="species">Species</label>
    <input type="text" class="form-control" formControlName="species" id="species">
    <div class="form-check">
      <label for="schooled" class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="schooled" id="schooled">Schooled
      </label>
    </div>
  </div>

  <div class="form-row mb-3">

    <div class="col col-3">
      <label for="abilities" class="font-weight-bold">Abilities</label>
      <div id="abilities">
        <app-abilities [parentForm] = "beastBlueprintForm"></app-abilities>
      </div>
    </div>

    <div class="col ml-4">
      <label for="other" class="font-weight-bold">Other</label>
      <div id="other">
        <div class="form-row">
          <div class="col">
            <label for="viability">Viability</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="viability" id="viability">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="viability-bonus">Viability Bonus</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="viabilityBonus" id="viability-bonus">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="manna">Manna</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="manna" id="manna">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="mobility">Mobility</label>
          </div>
          <div class="col d-flex">
            <input type="text" class="form-control" formControlName="mobility" id="mobility">
            <input type="text" class="form-control" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="persistence">Persistence</label>
          </div>
          <div class="col d-flex">
            <input type="text" class="form-control" formControlName="persistence" id="persistence">
            <input type="text" class="form-control" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="pugnacity">Pugnacity</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="pugnacity" id="pugnacity">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="domestication">Domestication</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="domestication" id="domestication">
          </div>
        </div>
      </div>
    </div>

    <div class="col ml-4">
      <label for="combat-values" class="font-weight-bold">Combat values</label>
      <div id="combat-values">
        <app-combat-values [parentForm]="beastBlueprintForm"></app-combat-values>
      </div>
    </div>

  </div>

  <div>
    <label for="sizes">Sizes</label>
    <div class="d-flex mb-3 flex-wrap">
      <div id="sizes" *ngFor ="let size of characterSizes">
        <button type="button" class="btn btn-outline-success mr-1 mb-1" (click)="size.status = !size.status" [ngClass]="size.status ? 'active' : ''"> {{size.name}}</button>
      </div>
    </div>
  </div>

  <div>
    <label for="vulnerabilities">Vulnerabilities</label>
    <div class="d-flex mb-3 flex-wrap">
      <div id="vulnerabilities" *ngFor ="let vulnerability of characterVulnerabilities">
        <button type="button" (click)="vulnerability.status = !vulnerability.status" class="btn btn-outline-success mr-1 mb-1" [ngClass]="vulnerability.status ? 'active' : ''">{{vulnerability.name}}</button>
      </div>
    </div>
  </div>

  <app-inventory [parentForm]="beastBlueprintForm"></app-inventory>

  <app-form-controls></app-form-controls>

</form>
