<form class="mx-3 my-4" [formGroup]="weaponBlueprintForm" (ngSubmit)="onSubmit()">

  <app-item-blueprint [parentForm]="weaponBlueprintForm"></app-item-blueprint>

  <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
    <label class="btn btn-outline-success"
           [ngClass]="melee ? 'active' : ''"
    >
      <input type="radio" class="text-uppercase" formControlName="melee" autocomplete="off" (click)="melee = true">Melee
    </label>
    <label class="btn btn-outline-success"
           [ngClass]="!melee ? 'active' : ''"
    >
      <input type="radio" class="text-uppercase" autocomplete="off" (click)="melee = false">Ranged
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="attack">Attack</label>
      <input type="text" class="form-control" formControlName="attack" id="attack">
    </div>
    <div class="form-group col">
      <label for="hurt">Hurt</label>
      <input type="text" class="form-control" formControlName="hurt" id="hurt">
    </div>
    <div class="form-group col">
      <label for="defense">Defense</label>
      <input type="text" class="form-control" formControlName="defense" id="defense">
    </div>
    <div class="form-group col">
      <label for="initiative">Initiative</label>
      <input type="text" class="form-control" formControlName="initiative" id="initiative">
    </div>
    <div *ngIf="!melee" class="form-group col">
      <label for="short-range">Short range</label>
      <input type="text" class="form-control" formControlName="shortRange" id="short-range">
    </div>
    <div *ngIf="!melee" class="form-group col">
      <label for="mid-range">Mid range</label>
      <input type="text" class="form-control" formControlName="midRange" id="mid-range">
    </div>
    <div *ngIf="!melee" class="form-group col">
      <label for="long-range">Long range</label>
      <input type="text" class="form-control" formControlName="longRange" id="long-range">
    </div>
    <div *ngIf="melee" class="form-group col">
      <label for="min-reach">Min reach</label>
      <input type="text" class="form-control" formControlName="minReach" id="min-reach">
    </div>
    <div *ngIf="melee" class="form-group col">
      <label for="max-reach">Max reach</label>
      <input type="text" class="form-control" formControlName="maxReach" id="max-reach">
    </div>
  </div>

  <div *ngIf="melee" class="d-flex mb-3">
    <label for="weapon-type" class="align-self-end mr-2">Weapon type</label>
    <div id="weapon-type" class="btn-group-toggle mx-1" formArrayName="weaponType" data-toggle="buttons" *ngFor ="let weaponType of weaponTypes, let i=index">
      <label class="btn btn-outline-success" [ngClass]="weaponType.status ? 'active' : ''">
        <input type="checkbox" [formControlName]="i" autocomplete="off" (click)="weaponType.status = !weaponType.status"> {{weaponType.name}}
      </label>
    </div>
  </div>

  <app-form-controls></app-form-controls>
</form>
