<form class="mx-3 my-4" [formGroup]="treasureBlueprintForm" (ngSubmit)="onSubmit()">

  <app-item-blueprint [parentForm]="treasureBlueprintForm"></app-item-blueprint>

  <div>
    <label for="gemstone-blueprint" class="font-weight-bold">Gemstones</label>
    <div class="d-flex">
      <select class="form-control" id="gemstone-blueprint">
        <option *ngFor="let stoneBlueprint of gemStones">{{ stoneBlueprint }}</option>
      </select>
      <button class="btn btn-success ml-1">+</button>
    </div>
  </div>

  <div class="px-2 mb-1" *ngFor ="let gemStone of treasureStones; let i = index" formArrayName="treasureStones">
    <div class="form-row" [formGroupName]="i">
      <div class="col">{{ gemStone.name }}</div>
      <div class="col d-flex">
        <label for="stoneWeight" class="mr-2 align-self-center">Weight</label>
        <input type="text" class="form-control" formControlName="stoneWeight" id="stoneWeight">
      </div>
      <div class="col d-flex">
        <label for="stoneCount" class="mr-2 align-self-center">Count</label>
        <input type="text" class="form-control" formControlName="stoneCount" id="stoneCount">
      </div>
      <div class="col">
        <div class="form-check">
          <label class="form-check-label" for="polished">
            <input type="checkbox" class="form-check-input lg" formControlName="polished" id="polished">Polished
          </label>
        </div>
      </div>
      <div class="col d-flex">
        <label for="final-price" class="mr-2 align-self-center">Price</label>
        <input type="text" class="form-control" id="final-price" disabled>
      </div>
      <button class="btn btn-danger ml-1">-</button>
    </div>
  </div>

  <div class="form-row my-3">
    <div class="col">
      <label for="material">Material</label>
      <select class="form-control" formControlName="material" id="material">
        <option *ngFor ="let material of materials"> {{ material }} </option>
      </select>
    </div>
    <div class="col">
      <label for="material-weight">Material weight</label>
      <input type="text" class="form-control" formControlName="materialWeight" id="material-weight">
    </div>
  </div>

  <div class="form-group">
    <label for="quality">Quality</label>
    <select class="form-control" formControlName="quality" id="quality">
      <option *ngFor ="let quality of qualityScale"> {{ quality }} </option>
    </select>
  </div>

  <div class="mb-4">
    <label for="value" class="font-weight-bold">Value</label>
    <div class="form-row" id="value">
      <div class="col">
        <label for="gold-coin">Gold</label>
        <input type="text" class="form-control" formControlName="goldCoin" id="gold-coin">
      </div>
      <div class="col">
        <label for="silver-coin">Silver</label>
        <input type="text" class="form-control" formControlName="silverCoin" id="silver-coin">
      </div>
      <div class="col">
        <label for="bronze-coin">Bronze</label>
        <input type="text" class="form-control" formControlName="bronzeCoin" id="bronze-coin">
      </div>
    </div>
  </div>
</form>
