<form class="my-4 mx-3" [formGroup]="personBlueprintForm" (ngSubmit)="onSubmit()">

  <div class="form-row">
    <div class="col form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" formControlName="name" id="name">
    </div>
    <div class="col-2 form-group">
      <label for="level">Level</label>
      <input type="text" class="form-control" formControlName="level" id="level">
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" formControlName="description" id="description"></textarea>
  </div>

  <div class="form-row">
    <div class="col form-group">
      <label for="profession">Profession</label>
      <select class="form-control" formControlName="profession" id="profession">
        <option *ngFor ="let profession of professions" [value]="profession">{{profession}}</option>
      </select>
    </div>
    <div class="col form-group">
      <label for="race">Race</label>
      <select class="form-control" formControlName="race" id="race">
        <option *ngFor ="let race of races" [ngValue]="race" [selected]="personBlueprintForm.get('race').value !== null && race.id === personBlueprintForm.get('race').value.id">{{race.name}}</option>
      </select>
    </div>
  </div>

  <app-inventory [parentForm]="personBlueprintForm"></app-inventory>

  <app-form-controls [editMode]="editMode" (update)="update()" (restore)="restore()" (delete)="delete()" (cancel)="clearForm()"></app-form-controls>

</form>

